//   ██████╗ ██████╗ ██╗      ██████╗ ██████╗
//  ██╔════╝██╔═══██╗██║     ██╔═══██╗██╔══██╗
//  ██║     ██║   ██║██║     ██║   ██║██████╔╝
//  ██║     ██║   ██║██║     ██║   ██║██╔══██╗
//  ╚██████╗╚██████╔╝███████╗╚██████╔╝██║  ██║
//   ╚═════╝ ╚═════╝ ╚══════╝ ╚═════╝ ╚═╝  ╚═╝
//

$primary: #3A3A3A;
$primary-dark: #222222;

// Action colors
$secondary-action: #40A8E6;

// Boolean colors
$positive: #67C940;
$negative: #E1251B;

// Backgrounds
$background-gray: #F3F3F4;

// Basic colors
$white: #FFFFFF;
$black: #000000;
$gray: #999999;
$gray-light-2: #C4C4C4;
$gray-light: #E4E4E4;
